<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="endeavour, endeavoursliet, sliet, endeavor, endeavorsliet, techfest, techfest20, madhuram, longowal, sangrur, delhi, iitbombay, iitdelhi, iit, nit, cfti, cuturalfest, mhrd, govt">
    <meta name="description" content="Official Website of Team Endeavour, Sliet Longowal">
    <meta name="author" content=" Antara Singh">
    <title>Document</title>
    
    <!-- font-awesome link -->
    <script src="https://kit.fontawesome.com/85d5344d5f.js" crossorigin="anonymous"></script>
    <style>
       .container{
        margin-top:200px;
        width: 100%;
        text-align: center;
        
    }
    </style>


</head>
<body>
    <div class="container">
        <h1>Register Cancelled</h1>
        <h3>User with this name already exist</h3>
        <i class="fas fa-exclamation-circle fa-5x icon-cog" style="color:red;"></i>
       </div>
        
   
    
</body>
