<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member information for website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/ProfileStyle.css">

<style>
  .container1{
    display: flex;
  justify-content: center; align-items: center;
  }
 
</style>
    
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>


<body>



<!-- Just an image -->


  <div class="container1">
  <img src="images/logo1.png" alt=""  srcset="" width=50%  class='logo'>
</div><hr></hr>
    
      <h1 style="text-align: center;">Endeavour Members Info!</h1><hr></hr>


<!-- div for form content -->
    <div class="container">  
<form action="/formsubmit" method="post" enctype="multipart/form-data">
    <!-- for username -->
    <div class="form-group">
        <label>Full Name </label>
        <input type="text" class="form-control" style="border: 1px solid;" name="userName" required>
     </div>
     <!-- for email address -->
        <div class="form-group">
            <label for="exampleInputEmail1">Email Address </label>
            <input type="email" class="form-control" style="border: 1px solid;" id="exampleInputEmail1" aria-describedby="emailHelp" name="userEmail" required>
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">password </label>
            <input type="password" class="form-control" style="border: 1px solid;" id="exampleInputEmail1" aria-describedby="emailHelp" name="password" required>
            
          </div>
<!-- for trade selection dropdown -->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Trade </label>
            <select class="form-control" id="exampleFormControlSelect1" style="border: 1px solid;" name="userTrade" required>
                <option value="">None</option>
                <option>Electrical Engineering</option>
              <option>Computer science engineering</option>
              <option>Electronics and communication </option>
              <option>Mechanical Engineering</option>
            </select>
            <br>
            <label >Year of Joining *(required)*</label>
            <input type="date" id="team joining" name="userYear" class="form-control" style="border: 1px solid;" required>
          </div>

          <!-- position in team -->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Position in Team </label>
            <select class="form-control" id="exampleFormControlSelect1" style="border: 1px solid;" name="userPosition" required>
                <option value="">None</option>
                <option>Member</option>
              <option>Alumni</option>
              <option>Cordinator </option>
              <option>Core Committee</option>
              <option>Programming Head</option>
              <option>Electronics Head</option>
              <option>Financial Head</option>
              <option>Mechanical & Fabrication Head</option>
              <option>Assets Head</option>
              <option>Marketing & Promotions Head</option>

            </select>
          </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Upload your Image</label>
              <input type="file" class="form-control-file" name='file' accept="image/x-png,image/jpeg" required>
            </div>
    <!-- skills section -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Facebook Profile Link</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="fb" style="border: 1px solid;" ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">LinkedIn Profile link</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="linkedin" style="border: 1px solid;"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Programming Languages*(required)*</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="userLanguage" style="border: 1px solid;" placeholder="ex. Java, C++, Python etc." required></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Areas of interests *(required)*</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="userSkills" style="border: 1px solid;" placeholder="eg. Machine learning, CAD/CAM, Web Development etc." required></textarea>
            
    </div>
      <!-- about yourself     -->
      <div class="form-group">
        <label for="exampleFormControlTextarea1">About Yourself *(required)*</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="userAbout" style="border: 1px solid;" required></textarea>
      </div>
<!-- internship done -->
<div class="form-group">
  
        <label for="exampleFormControlTextarea1">Internship/Training *(if any)*</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="userIntern" style="border: 1px solid;" ></textarea>
      
        </div>
      <!-- project work -->
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Project Work *(if any)*</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="userProject" style="border: 1px solid;" ></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Current Status*(if any)*</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="userCurrent" style="border: 1px solid;" placeholder="eg. Pursuing Higer Education from other Institution, doing job, Current year of studying etc " required></textarea>
          </div>
      
      <button class="btn btn-danger" type="submit" name="button">Submit</button>
</form>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>