<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- font-awesome link -->
    <script src="https://kit.fontawesome.com/85d5344d5f.js" crossorigin="anonymous"></script>
    <style>
       .container{
        margin-top:200px;
        width: 100%;
        text-align: center;
        
    }
    </style>


</head>
<body>
    <div class="container">
        <h1>Successfully Submitted</h1>
        <h3>Thanks for filling this form</h3>
        <i class="icon fas fa-check-circle fa-5x icon-cog" style="color: green;"  aria-hidden="true"></i>
        
    </div>
        
   
    
</body>
</html>